body {
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)) fixed, url(http://www.webcreatorbox.com/sample/images/bg-cherrybrossam.jpg) fixed;
  background-size: cover;
}

p {
  font-family: Meiryo, "Hiragino Kaku Gothic Pro W3", Courier New, sans-serif;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #fff;
}

h1 {
  padding: .25em 0 .5em .75em;
  border-left: 6px solid snow;
  border-bottom: 1px solid snow;
}

h2 {
  padding: .25em 0 .5em .75em;
  border-left: 6px solid snow;
  border-bottom: 1px solid #ccc;
}
h2:first-letter {
  margin-right: .1em;
  font-size: 1.5em;
}

div#header{width:100%;}

div#main{
	width:78%;
	float:right;
}

div#navi{
	border:1px solid snow;
	width:20%;
	float:left;
}

div#footer{
	clear:both;
	font-size:90%;
}

